body {
    background: url("../ressources/img/common/starry-bg.png");
    background-size: 100% auto; /* Couvre la largeur, se répète en hauteur */
}

h2{
	color: #000000;
    font-size: calc(11px + .3vw);
	font-family: 'MSReferenceSansSerifBold', 'Arial', sans-serif;
	text-align: center;

	padding: 30px 60px;
	background-color: #ffffff;
	border-radius: 5px;

	position: relative;
}

div > p {
	color: #000000;
	font-size: calc(10px + .2vw);
	text-align: center;
	font-family: 'MSReferenceSansSerif', 'Arial', sans-serif;

	padding: 10px;
	background-color: #ffffff80;
	border-radius: 5px;
}

#lilstar1 {
    position: absolute;
    user-select: none;
    width:7vw;
    top:3vw;
    left:20vw;
    transform: scaleX(-1) rotate(-20deg);
}

#lilstar2 {
    position: absolute;
    user-select: none;
    width: 4vw;
    top:11vw;
    left: 70vw;
    transform: rotate(-170deg);
}

#formations{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#but {
	background-image: url("/ressources/img/formation/form-planet-but.png");
	background-size: cover;
	background-repeat: no-repeat;
	padding: 260px 200px 220px 200px; /* différence haut/bas pour recentrer le texte, et différence gauche/droite pour remettre à la bonne taille */
	z-index: 10;
	position: relative;
	/* top: -160px; */
	transform: translateY(-160px);
	left: -15px;
}


#bac {
	background-image: url("/ressources/img/formation/form-planet-bac.png");
	background-size: cover;
	padding: 150px 130px;
	z-index: 10;
	position: relative;
	/* top: -320px; */
	transform: translateY(-320px);
	left: -15px;
}

#base {
    background-image: url("/ressources/img/formation/form-planet-base.png");
	background-size: cover;
	padding: 130px 100px 130px 110px;
	z-index: 10;
	position: relative;
	/* top: -430px; */
	transform: translateY(-430px);
	left: -40px;
}

#base h2 {
	font-size: calc(11px + .3vw);
	text-align: center;
	font-family: 'MSReferenceSansSerifBold', 'Arial', sans-serif;
	padding: 0;
	background-color: unset;
	border-radius: 5px;
}


@media screen and (max-width: 1050px) {

	#but {
		padding: 210px 170px 200px 170px;
	}

	#but h2 {
		padding: 20px 15px
	}

	#bac {
		padding: 110px 90px;
	}

	#base {
		padding: 110px 80px 110px 90px;
	}

}

@media screen and (max-width: 685px) {

	#but{
		padding: 170px 130px 160px 130px;
	}


	#bac {
		padding: 110px 90px;
	}

	#base {
		padding: 110px 80px 110px 90px;
	}

}

@media screen and (max-width: 600px) {

	#bg-start {
		width: 300px;
	}
	.transition{
		width: 300px;
	}


	#but{
		padding: 90px 50px 80px 50px;
	}

	h2 {
		padding: 10px 15px
	}

	#bac {
		padding: 70px 40px;
	}
}

@media screen and (max-width: 500px) {

	#but{
		padding: 50px 10px 40px 10px;
	}

	#bac {
		padding: 40px 10px;
	}

}