@font-face {
    font-family: 'GothicBold';
    src: url('../ressources/fonts/GOTHICB.TTF') format('truetype'); /* Spécifie le chemin du fichier et le format de la police */
    /* Tu peux ajouter d'autres propriétés ici, comme font-weight, font-style, etc. */
}

header {
    z-index: 1000;
    position: fixed;
    width: 100%;
    font-size: 1.25vw;
    padding: 1vw;
    text-align: center;
    font-family: 'GothicBold', 'Arial', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Ajustement ici pour espacer les éléments sur toute la longueur */
    height: 2.50vw;
    background-color: #171717;
}

header nav ul {
    list-style: none;
    padding: 0;
    display: flex; /* Utilise Flexbox pour le positionnement des éléments de la liste */
    align-items: center;
}

header nav li {
    padding-left: 5.5%;
    margin-right: 6%;
    white-space: nowrap; /* Empêche le texte de passer à la ligne */
    color: inherit; /* Hérite de la couleur du texte du header */
    text-decoration: none; /* Supprime le soulignement par défaut des liens */
}

header img {
    max-height: 100%;
    width: 4vw;
    height: 4vw;
    transition: transform 0.5s; /* Ajoute une transition pour une animation plus fluide */
}

a {
    color: white;
    text-decoration: none; /* Pas de soulignement par défaut */
}

/* Styles lorsque la souris survole le lien */
a:hover {
    text-decoration: underline; /* Soulignement au survol */
}

header a:hover {
    color: #FFE100; /* Changement de couleur au survol */
}