h1 {
	position: absolute;
	top: 200px;
	font-size: calc(30px + .3vw);
}

@media screen and (max-width: 1050px) {

	h1 {
		top: 120px;
	}
}
@media screen and (max-width: 700px) {
	h1 {
		top: 80px;
		font-size: calc(25px + .3vw);
	}
	
}

@media screen and (max-width: 500px) {
	h1 {
		top: 70px;
		font-size: calc(20px + .3vw);
	}
	
}