h1 {
    font-family: 'MSReferenceSansSerifBold', 'Arial', sans-serif;
    padding: calc(50px + 4%) 0;
} 

main img {
    max-height: 100%;
}

#lilbun {
	position: absolute;
    user-select: none;
    width:16vw;
	max-width: 230px;
	min-width: 130px;
    top:calc(90px + 2.5vw);
    left:10vw;
}

#lilstar2 {
	position: absolute;
    user-select: none;
    width: 16vw;
	max-width: 230px;
	min-width: 130px;
    top:calc(160px + 2.5vw);
    left: 75vw;
    transform: scaleX(-1) rotate(20deg);
    
}

#projets {
    justify-content: space-around;
    display: flex;
    align-items: center;
    margin: 0 40px;
    padding: 0;
	gap: 15px; 
	flex-wrap: wrap; 
}

#projets a {
	user-select: none;
	border: 7px solid black; /* Épaisseur et couleur de la bordure */
	border-radius: 15px;
	position: relative;
	z-index: 1;
}

#projets h2 {
    font-family: 'MSReferenceSansSerifBold', 'Arial', sans-serif;
    text-align: center;
    color:#303030;
}

#projets p {
    font-family: 'MSReferenceSansSerifBoldItalic', 'Arial', sans-serif;
}

.projet{
	background-size: cover;
	width: 300px;
	height: 300px;
}

#bokena {
	background-image: url("/ressources/img/bokenaIcon.png");
}

#wof {
	background-image: url("/ressources/img/wofIcon.png");
}

#bagus, #saveGod{
	background-image: url("/ressources/img/wipProjectIcon.png");
}

#bagus h2, #saveGod h2 { /*texte dans les bulles*/
	margin: 160px 0 0 80px;
	font-size: 16px;
}

#bagus p, #saveGod p { /* projet en cours */
	margin: 0;
	font-size: 15px;
}

#more {
	background-image: url("/ressources/img/catgoat-liste-projets.png");
}

#more p {
	user-select: none;
	margin: 45px 130px 0 0;
    color:#303030;
    text-align: center;
}


@media screen and (max-width: 650px) {
	#lilbun {
		display: none;
	}

	#lilstar2 {
		display: none;
	}
}

@media screen and (max-width: 450px) {
	.projet{
		width: 250px;
		height: 250px;
	}

	#bagus h2, #saveGod h2 { /*texte dans les bulles*/
		margin: 130px 0 0 65px;
		font-size: 12px;
	}

	#more p {
		margin: 35px 100px 0 0;
		font-size: 13px;
	}
}